 .heading{
    margin: 30px;
    align-self: baseline;
}
.team-area{
    display: flex;
    /* width: 5px;
    height: 10px; */
    justify-content: space-around;
    padding: 5px;
}

.single-team{
    width: 239px;
    height: 381px;
    padding: 64px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.single-team:hover{
    transform: translateY(15px);
}

.single-team:hover .team-text{
    opacity: 1;
    transform: translateY(0);
}



.single-team img{
    width:239px;
    position: absolute;
    top:0;
    left:0;
    object-fit:cover;
}


.team-text h2{
    margin: 0;
    font-family: "sans-serif";
    letter-spacing: 3px;

}
.team-text p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    font-family: 'Times New Roman', Times, serif;

}
*{
    margin: 0;
    padding: 0;
    font-family: "Dosis", "Source Sans Pro";
    box-sizing: border-box;
    
    
    scroll-behavior: smooth;
}

/* Navigation  */

nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #333333;
    justify-content: space-between;
    align-items: center;  
    width: 100%;  
    overflow: hidden;
    z-index: 1;
     
    
}
nav h1{
    font-size: 30px;
    color: white;
    margin: 8px;
}
#nav-bar{
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: end;
    justify-content: center;
   
    
}
#nav-bar li{
    list-style: none;
    
   
}
#nav-bar li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: block;
    padding: 0 1rem;
    text-transform: uppercase;
}
#nav-bar li:hover{
    background-color: #555555;
}

/* Styling the main content of the page */
#home-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(53,82,66,.5), rgba(47,80,63,.6)), 
        url(/images/scovia.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
    /* position: relative; */
    color: white;
}
.container2 h1{
    margin: 75px;
    padding: 0;
    text-align: center;
}
.banner{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner{
    text-align: center;
}
.banner h1{
    font-size: 4em;
    animation-name: move;
    animation-duration: 2s;
    
}
.banner .btn{
    width: 180px;
    padding: 12px;
    margin: 20px;
    border: 2px solid #eeeeee;
    border-radius: 45px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #eeeeee;
    animation-name: animateBtn;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.banner .btn:hover{
    background-color: #bdb9b9;
    color: black;
    transform: scale(1.1);
}

.container2 h1{
    margin: 75px;
    padding: 0;
    text-align: center;
}


/* Animations for the landing page */
@keyframes move{
    0%{
        transform: translateX(-120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;

    }
}
@keyframes animateBtn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    #nav-bar{
        width: 100%;
        flex-direction: column;
    }
    #nav-bar li{
        text-align: center;
    }
    #nav-bar li a{
        padding: .4rem;
    }
    .banner{
        padding-top: 35px;
    }
    
}






















/*Contact section styling by Karen feel free to edit colors only!.

----------------------------------------------------------------------------------
*/




.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    background-color: rgb(1, 76, 150);
    

}

.flex-container > div#address-info{
    
    align-self: center;
    flex-basis: 300px;
    margin: 10px;
    padding: 20px;
}

.flex-container h2{
    font-size: 40px;
    letter-spacing: 0.05rem;
    font-family: "Dosis", "Source Sans Pro";
    color: white;
    padding-bottom: 20px;
    text-transform: uppercase;
    
    
}

.flex-container p{
    font-family: "Dosis", "Source Sans Pro";
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.flex-container address h3{
    font-size: 30px;
    text-decoration: underline dotted;
    font-weight: bold;

}
.flex-container address{
    font-size: 20px;
    padding-top: 40px;
    font-weight: bold;

}

.flex-container > div#form-input{
    
    align-self: flex-start;
    flex-basis: 500px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;

}

form label{
    padding-bottom: 20px;;
}

.flex-container h2{
    padding-top: 20px;
}

.flex-container form{
    font-size: 20px;
    margin-bottom: 30px;
    font-family: "Dosis", "Source Sans Pro";

}

form input{
    padding: 10px;
    margin-bottom: 20px;
}

textarea{
    margin-bottom: 30px;
}

form button{
    font-size: 20px;
    font-family: "Dosis", "Source Sans Pro";
    padding: 10px;
    cursor: pointer;
}

form button:hover{
    color: black;
    background-color: antiquewhite;
}

.social-links{
    
  padding: 20px;
  background-color: #333333;
    text-align: center;
    
    
}

.social-links h3{
    margin: 0;
    font-size: 40px;
    padding-top: 30px;
    font-family: "Dosis", "Source Sans Pro";
    text-transform: capitalize;
    color: white;
}


.fa-envelope:before {
    content: "\f0e0";
    margin-left: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.fa-phone:before {
    content: "\f0e0";
    margin-left: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.fa-facebook:before {
    content: "\f0e0";
    margin-left: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.fa-twitter:before {
    content: "\f0e0";
    margin-left: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.social-links #icons{
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-links a{
    text-decoration: none;
    color: black;
}

footer{
    text-align: center;
    font-size: 20px;
    font-family: "Dosis", "Source Sans Pro";

    
}

@media screen and (max-width: 700px) {
    .flex-container {   
      flex-direction: column;
    }

    .flex-container > div#form-input{

        margin-top: 20px;
    }
    .social-links{
        flex-direction: column;
    }
    .fa-facebook, .fa-twitter, .fa-envelope, .fa-phone{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
  }
