
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(#32a3ee, #394989);  */
    /* background-color:#3282b8;  */
    color: white;
    background-color:#333;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#welcome-section{
    height: 100vh;
    width:100%;
    background:radial-gradient(#333,#000);
}

.centered{
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    transform:translate ;
    transform:translateY (-50%);
}



h1{
    text-transform: capitalize;
    top:40%;
    width:100%;
	font-family: 'Courgette', cursive, sans-serif;
    font-size:4em;
    text-align:center;
    transform:translate ;
    color:#fff;
    transform:translateY (-50%);

}

#navbar{
    font-family: Verdana, Geneva, sans-serif;
    display: flex;
   justify-content: space-around;
    align-items: center; 
    /* background-color:  rgb(43, 43, 146); */
    background-color:#333;
    position: fixed;
    width: 100%;


    
}

ul li{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, sans-serif;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

ul li:hover{
    
    background-color:  rgba(65, 65, 153, 0.7);
    cursor: pointer;
}



.nav-links {
    display: flex;
    /* align-items: center; */
    /* flex-direction: row; */
    /* justify-content: space-around; */

  
}

.toggle{
    display: none;
}

a{
    text-decoration: none;  
    color: white;

}

#about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    
    
}

#about > figure{
    flex-basis: 400px;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    font-family: cursive, sans-serif;
    text-transform: capitalize;
    align-self: center;
}

#about > .languages{
    flex-basis: 500px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
     font-family: cursive, sans-serif;
    text-transform: capitalize;
    

}

.fa-html5:before{
    color: orange;
}

.fa-css3-alt:before{
       color: rgb(59, 59, 252);
}

.fa-js-square:before{
    color: yellow;
}


#profile{
    width: 300px;
    border-radius: 10px;
    
    
}

.projects{
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Georgia, Times, serif;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 20px;
}

.project-tile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    margin-bottom: 30px;
    
     
}


.card {
    /* Add shadows to create the "card" effect */
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 40%;
    background-color: #bbe1fa;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
    .container {
    padding: 20px;
    font-size: 25px;
    font-family: Georgia, Times, serif;
    color: black;
  }

  .project-image{
    border-radius: 5px 5px 0 0;
    width: 100%;
    
  }

.social{
     font-size: 40px;
     padding: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
     text-transform: capitalize;
     margin: 20px;
     

 } 

 #profile-link{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
     padding: 10px;
     margin: 10px;
     
     
 }


.fa-facebook, .fa-twitter, .fa-github, .fa-free-code-camp, .fa-linkedin-in{
    color: white;
    background-color: cornflowerblue;
    border-radius: 50%;
    padding: 15px;
    margin-left: 30px;
    text-align: center;
 
}

.leaf{
    /* position:absolute ; */
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.leaf div{
position:absolute ;
display:block ;
}
.leaf div:nth-child(1){
    left:20%; 
    animation:fall 15s linear infinite ;
    animation-delay:-2s;

}
.leaf div:nth-child(2){
    left:70%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(3){
    left:10%; 
    animation:fall 20s linear infinite ;
    animation-delay:-7s;
    
}
.leaf div:nth-child(4){
    left:50%; 
   animation:fall 18s linear infinite ; 
   animation-delay:-5s;
}
.leaf div:nth-child(5){
    left:85%; 
    animation:fall 14s linear infinite ;
    animation-delay:-5s;
}
.leaf div:nth-child(6){
    left:15%; 
    animation:fall 16s linear infinite ;
    animation-delay:-10s;
}
.leaf div:nth-child(7){
    left:90%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}

@keyframes fall{
    0%{
        opacity:1;
        top:-10%;
        transform:translateX (20px) rotate(0deg);
    }
    20%{
        opacity:0.8;
        transform:translateX (-20px) rotate(45deg);
    }
    40%{

        transform:translateX (-20px) rotate(90deg);
    }
    60%{
        
       transform:translateX (-20px) rotate(135deg); 
    }
    80%{
    
        transform:translateX (-20px) rotate(180deg);
    }
    100%{
        
        top:110%;
        transform:translateX (-20px) rotate(225deg);
    }
    }

@media screen and (max-width: 700px) {
    #welcome-section{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
        background: center;
        margin-bottom: 20px;
    } 
    

    #myLinks{ 
        display: none; 
    }

  h1{
      margin-bottom: 30px;
      position: static;


  }

    ul li:hover{
        background-color:  rgb(43, 43, 146, 0.7);
        cursor: pointer;
    }

    .toggle{
        color: antiquewhite;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color:  rgb(43, 43, 146, 0.5);
        width: 100%;
        text-align: right;

    }
    
    .active {
        background-color: rgb(43, 43, 146, 0.7);
        color: white;
        
    }

    #About {   
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }

    #About > figure{
        width: 100%;
        flex-wrap: wrap;
    }

    #profile{
        width: 100%;
        overflow: hidden;
    }

    
    #About > .languages{
        width: 100%;
        flex-wrap: wrap;
        

    }

    .project-tile {   
        flex-direction: column;
        
    }

    .card{
        width: 100%;
    }
    .project-tile > #calc{
        margin: 20px;
    }
    .project-tile > #weather{
        margin: 20px;
    }

    .project-image{
        border-radius: 5px 5px 0 0;
        width: 100%;
        overflow: visible;
        
    
      }
    
    #profile-link{
        flex-direction: row;
    
    }

    .fa-facebook, .fa-twitter, .fa-github, .fa-free-code-camp, .fa-linkedin-in{
        margin-top: 10px;
        background-color: cornflowerblue;
    }

  }