*{
    margin: 0 0 0 0;
}
.splash-screen{
    padding: 4rem;
    background-image: url("konsepta-studio-6n9dzMQr8X0-unsplash.jpg");
    background-color: grey;
    background-size: cover;
}
.container1{
    margin: 0 10rem 5rem 10rem;
}
nav{
    display: flex;
    align-content: center;
    order: 5;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
    /* align-items: center; */
    /* padding: 10px 0 10px 0; */
}
.nav-item{
    padding: 1rem;
}

.home{
   text-align: center;
   margin: 10rem;
   color: white;
}
.heading{
    font-size: 5rem;
    font-weight: normal;
    padding: 1rem;
}
.subheading{
    font-size: 4rem;
    padding: 1rem;

}
.tagline{
    font-size: 1.5rem;
    padding: 1rem;

}
/* .content{
    background-color: #41444b;
    color: white;
   
} */
.container2{
    margin: 5rem 10rem 5rem 10rem;
    height: 800px;
    padding: 3rem;
    border: 2px solid;
}

.container{
    margin: 5rem 10rem 5rem 10rem;
    height: 800px;
    padding: 3rem;
}

.resume-container{
    margin: 5rem 10rem 5rem 10rem;
    height: 1225px;
    padding: 3rem;
    border: 3px slategrey;
}
.position{
    color: #62760c;
}

.portfolio{
    display: flex;
    justify-content: space-between;
    /* margin: 0 2rem; */
    flex-wrap: wrap;
    
}
.img-type{
    width: 400px;
    padding: 3rem;
    height: 600px;
}
.portfolio-img{
    object-fit: cover;
    width: 400px;
    height: 600px;

}

.name{
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}

.resume-heading{
    text-align: center;
    font-size: 2rem;
    padding: 0 5rem 5rem 5rem;
}

.portfolio-title{
    text-align: center;
    font-size: 2rem;
    
}
.resume{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* width: 80%;
    height: 800px;
    background: aqua;
    margin: auto;
    padding: 10px; */
}
.education{
    display: flex;
    justify-content: space-around;
  flex-direction: column;
  /* flex-basis: 100%; */
  flex: 1;

    
}
.work-experience{
    display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
   
}
.education-type{
   margin: 1rem;
   padding: 4rem;
   border-radius: 2px;
   background-color: #6e6d6d;
   color: white;
}

.resume-info{
    padding: 1rem;
    font-size: 1.5rem;
}

.headings{
    font-size: 2rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}
.about{
    display: flex;
    justify-content: space-between;
    margin: 10rem;
    
    
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5rem;
    
}
.pic{
    object-fit: cover;
    width: 500px;
    height: 600px;
}
.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-type{
    text-align: center;
    padding: 2rem;
}

.icon{
    width: 50px;
}
.contact{
    display: flex;
    text-align: center;
    /* justify-content: space-between; */
}
.form{
    display: flex;
    flex-direction: column;
}
.contact-details{
    display: flex;
    flex-direction: column;
    width: 8000px;
}
form{
    display: flex;
    flex-direction: column;
    width: 800px;
}
.entry{
    margin: 1rem;
}
.email, .phone, .address{
    margin: 1rem;
}
.info{
    padding: 5rem;
    margin: 1rem;
}

