/* services design */
.services{
    display: flex;
    /* align-content: center; */
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-type{

}

.info{
    align-content: center;
}

.service{
    align-content: center;
}